<html>
<head>
    <title>Aviasales</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="../../client/assets/js/index.js"></script>
</head>
<body>
    <h2>Welcome to admin page</h2>

    <form method="post" action="http://localhost/kursach/server/admin/trips">
        <input type="submit" value="Manage trips">
    </form>

    <form method="post" action="http://localhost/kursach/server/admin/users">
        <input type="submit" value="Manage users">
    </form>
</body>
</html>